.border_box{
  height: 500px;
  width: 600px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.box_basic {
  border: 1px solid black;
  height: 80px;
  width: 80px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.07s;
}
.content {
  display: inline-block;
}
.hit {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}